<section class="max-w-xl mx-auto px-4 py-12 text-center space-y-6">
    <h3 class="text-3xl font-bold text-white flex justify-center items-center gap-2">
        <span class="text-blue-500 text-2xl font-mono"></span> ¿Trabajamos juntos?
    </h3>
    <p class="text-slate-400 text-sm">
        Estoy disponible para oportunidades de práctica, proyectos freelance o posiciones de jornada completa una vez finalizada mi carrera.
    </p>
    <div class="bg-slate-900 border border-slate-800 p-8 rounded-2xl space-y-4">
        <div class="flex justify-center space-x-8 pt-8 text-3xl md:text-4xl text-slate-500">
            <a href="https://www.linkedin.com/in/danko-leiva-contreras-760236359" 
            target="_blank" 
            rel="noopener noreferrer" 
            class="hover:text-blue-400 transition-colors">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            
            <a href="https://github.com/individuocomunycorriente" 
            target="_blank" 
            rel="noopener noreferrer" 
            class="hover:text-white transition-colors">
                <i class="fa-brands fa-github"></i>
            </a>
            
            <a href="mailto:danko.leiva@uc.cl" 
            class="hover:text-blue-400 transition-colors">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </div>

        <p class="text-xs font-mono text-slate-500 uppercase tracking-widest pt-4">Teléfono</p>
        <p class="text-lg text-slate-300 font-medium">+56 9 5376 0336</p>
    </div>

</section>